body { 
  margin: 0 auto;
  color: white;
  background-color: #20203f;
  text-align: center;
  font-size: 200%;
  font-family: sans-serif;
}

ul { 
  list-style-type: none;
  margin: 0;
}
li { 
  display: inline-block;
}
p {
  margin: 0;
  padding: 0;
}

#game {
  margin-top: 1em;
}

#players { 
  margin-bottom: 2em;
}
#players li { 
  margin: 0 0.5em;
}
#players li span {
  margin: 0 0.2em;
}
#players .name {
  color: #ddd;
}
#players .score {
  font-size: 88%;
  color: #fff;
}
.active { 
  color: white;
  font-weight: bold;
}

#tier { 
  color: #ddd;
  font-weight: bold;
  font-size: 150%;
  font-familiy: sans-serif;
}
#question { 
  font-size: 250%;
  max-width: 80%;
  margin: 0 auto;
}

#question p.size1 {
  font-size: 50%;
}

#question p.size2 {
  font-size: 100%;
}

#question p.size3 {
  font-size: 200%;
}

#question img {
  display: inline;
}

#question p {
	margin: 5px 40px 30px 40px;
}

#nedap .url {
  text-decoration: underline;
  color: white;
  font-weight: bold;
  font-size: 200%;
}

#irc ul {
  list-style-type: none;
  font-family: monospace;
  font-size: 150%;
  text-align: left;
  width: 40em;
}

#answers {
  position: absolute;
  bottom: 1em;
  width: 100%;
}
#answers ul {
  margin: 0.5em 0.5em;
  text-align: center;
}
#answers ul li {
  color: #ddd;
  width: 40%;
  padding: 0.1em 0.5em;
  border: 0.15em solid #ddd;
  border-radius: 0.85em 0.85em 1em 1em;
  font-size: 125%;
}

#answers ul li.size1 {
  font-size: 85%;
}

#answers ul li.size2 {
  font-size: 125%;
}

#answers ul li.size3 {
  font-size: 150%;
}

#answers ul li.selected {
  background-color: #ff9600;
  color: black;
}
#answers ul li.right {
  background-color: #06ff00;
  color: black;
}
#answers ul li.wrong {
  background-color: #ff0600;
  color: white;
}

form {
  background-color: #30304f;
  padding: 1em 0;
}
form label {
  margin-right: 1em;
}
input {
  color: white;
  background-color: #00003f;
  font-size: 100%;
  margin: 2px 0px;
}

input#start {
	margin-top: 1em;
  width: 4em;
}

ul#tiers {
  text-align: right;
  float: right;
  margin: 2em auto;
  padding-right: 1em;
}

ul#tiers li {
  display: list-item;
  color: #777;
}

ul#tiers li.done {
  font-weight: bold;
  color: white;
}

#scoreboard dl {
  width: 20em;
  text-align: left;
  margin: 1em auto;
  font-size: 175%;
}
#scoreboard dl dd {
  margin-left: 4em;
  margin-bottom: 0.65em;
}
#scoreboard dl dd .score {
  font-size: 125%;
  color: #fff;
}

#scoreboard dl dd img {
  margin-left: 0.5em;
}

#timer {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.2em 0.2em;
  padding: 0px;
  width: 1.6em;
  border: 0.1em solid #ddd;
  border-radius: 0.25em 0.25em 0.35em 0.35em;
  font-weight: bold;
  font-size: 300%;
  text-align: center;
}
.elapsed#timer {
  border-color: red;
}